.hiddenTopping {
  display: none;
  background: grey;
}
.toppings {
  display: none;
}
.header {
  background-color: #5488B5;
  color: #fff;
  padding: 30px 0px 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #2a2928;
  height: 120px
}
.header-right {
   float: right;
 }
 .header h1 {
   float: left;
   text-decoration: underline;
   font-weight: bold;
   font-family: georgia;
   font-style: italic;
 }
 img {
   height: auto;
   width: 120px;
 }
